services:
  # Le Reverse Proxy
  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80" # On expose uniquement le port web standard
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - netdata

  # Netdata sécurisé
  netdata:
    image: netdata/netdata:latest
    container_name: netdata
    hostname: mon-serveur-netdata
    restart: unless-stopped
    # ATTENTION : On enlève "ports" pour que Netdata ne soit plus accessible directement via 19999
    expose:
      - "19999"
    cap_add:
      - SYS_PTRACE
      - NET_ADMIN
    security_opt:
      - apparmor:unconfined
    volumes:
      - netdataconfig:/etc/netdata
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro

volumes:
  netdataconfig:
  netdatalib:
  netdatacache:
